@charset "UTF-8";
*{
    padding: 0%;
    margin: 0%;
}

body{
    display: flex;
    background-position: center center; 
    background-image: url("../fundo/deserto.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 755px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    background-image: linear-gradient(to right,#72431A,#D0A06B);
}
a{
    font-size: 2.5em;
    margin: 0px 10px;
    color: white;
    text-decoration: none;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90%;
}
h1{
    margin-left: 5px;
    font-size: 4em;
}
h2{
    font-size: 6em;
    color: white;
}
h3{
    font-size: 3.5em;
    color: white;
}
#setorP{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
}
#setors{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 60%;

}
#hilux-2023{
    width: 60%;
    max-width: 1000px;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 60%;

}
li{
    text-align: center;
    border-radius:5px;
    margin: 5px 0px;
    background-color: #8A6A4E;
    border: 2px solid #DEC5AA;
    max-width: 500px;
}
p{
    font-size: 2em;
}
@media screen and (max-width: 1270px){
    ul{
        height: 40%;
    }
    p{
        font-size: 1.8em;
    }
    #setors{
        min-height: 320px;
    }

    a{
        font-size: 2em;
    }
    #hilux-2023{
        width: 60%;
        max-width: 720px;
    }
}
@media screen and (max-width: 740px){
    body{
        min-height: 890px;
    }
    li{
        text-align: start;
        text-indent: 10px;
    }
    p{
        font-size: 1.5em;
    }
    #setors{
        min-height: 300px;
        justify-content: left;
    }
    h1{
        margin-left: 3px;
        font-size: 2.5em;
    }
    a{
        font-size: 1em;
    }
    h2{
        font-size: 4.8em;
        color: white;
    }
    h3{
        font-size: 2em;
        color: white;
    }
    li{
        font-size: 1.2em;
    }
    
    ul{
        width: 300px;
    }
    #hilux-2023{
        margin: auto;
        max-width: 550px;
        width: 100%;
    }
}
@media screen and (max-width: 545px){
    body{
        min-height: 860px;
    }
    ul{
        height: 35;
    }
    #hilux-2023{
        max-width: 480px;
    }
}

@media screen and (max-width: 425px){
    body{
        min-height: 670px;
    }
    p{
        font-size: 1em;
    }
    h1{
        margin-left: 3px;
        font-size: 2.5em;
    }
    a{
        font-size: 1em;
    }
    h2{
        font-size: 3em;
        color: white;
    }
    h3{
        font-size: 2em;
        color: white;
    }
    li{
        font-size: 1.2em;
    }
    
    ul{
        width: 250px;
    }
    #hilux-2023{
        width: 95%;
    }
}