@charset "UTF-8";
*{
    padding: 0%;
    margin: 0%;
}

body{
    display: flex;
    background-position: center center; 
    background-image: url("../fundo/deserto.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    background-image: linear-gradient(to right,#72431A,#D0A06B);
}
a{
    font-size: 2.5em;
    margin: 0px 10px;
    color: white;
    text-decoration: none;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90%;
}
h1{
    margin-left: 5px;
    font-size: 4em;
}
h2{
    font-size: 6em;
    color: white;
}
h3{
    font-size: 3.5em;
    color: white;
}
#setorP{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#setors{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    min-height: 300px;
}
#hilux-2023{
    width: 50%;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 90%;
}
li{
    font-size: 1.8em;
    border-radius:5px;
    margin: 5px 0px;
    background-color: #8A6A4E;
    border: 2px solid #DEC5AA;
    max-width: 500px;
}
@media screen and (max-width: 1100px){
    #hilux-2023{
        width: 500px;
    }
    ul{
        height: 50%;
    }
}
@media screen and (max-width: 740px){

    ul{
        height: 50%;
    }

    h1{
        margin-left: 4px;
        font-size: 4em;
    }
    h2{
        font-size: 5em;
        color: white;
    }
    h3{
        font-size: 2.5em;
        color: white;
    }
    ul{
        width: 500px;
    }
    #hilux-2023{
        width: 500px;
    }
}
@media screen and (max-width: 400px){

}