@charset "UTF-8";
*{
    margin: 0px;
    padding: 0%;
    cursor: default;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
html{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
header a{
    color: white;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px 5px;
    cursor: pointer;
}
header a:hover{
    transition-duration: 1s;
    text-shadow: 0px 0px 16px #DEC5AA;
}
header{
    display: flex;
    text-indent: 5px;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to right,#72431A,#D0A06B);
    font-size: 2.5em;
}
#pag1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    background-image: url("../fundo/foto-fundo.png");
    background-position: center center;
    background-size: cover;
    border: 4px solid #DEC5AA;
}
h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 4px 5px 26px #00000065;
    font-size: 8em;
}
h2{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 4px 5px 26px #0000003d;
    text-align: center;
    font-size: 4em;
}
section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 40%;
}
ul{
    list-style: none;
    width: 40%;
    min-width: 300px;
}
li{
    margin: auto;
    font-size: 2em;
    padding: 5px;
    margin-top: 40px;
    border-radius:10px;
    background-color: #8A6A4E;
    border: 2px solid #DEC5AA;
    max-width: 500px;
}
li:hover{
    transition-duration: 1s;
    box-shadow: 0px 0px 16px #DEC5AA;

}
#hilux-2023{
    min-width: 600px;
    width: 40%;
}
@media screen {
    
}

/* pagina 2 */

/* #pag2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(../fundo/3.png);
    height: 100vh;
    width: 100vw;
    border: 2px solid #DEC5AA;
}
p{
    font-size: 1em;
}
.blocos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 5px;
    width: 30%;
    background-color: white;
    max-width: 300px;
    padding: 5px;
}
.blocos img{
    width: 100%;
    height: 200px;
}
#logo-toyota{
    max-width: 300px;
    width: 40%;
} */